body {
  background: #90f6d7;
  background-size: cover;
  font-family: Roboto Slab;
}
a {
  color: #00aaa0;
}
.weather-app {
  background: radial-gradient(
    circle at 10% 20%,
    rgb(222, 168, 248) 0%,
    rgb(168, 222, 248) 21.8%,
    rgb(189, 250, 205) 35.6%,
    rgb(243, 250, 189) 52.9%,
    rgb(250, 227, 189) 66.8%,
    rgb(248, 172, 172) 90%,
    rgb(254, 211, 252) 99.7%
  );
  margin: 100px auto;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 30px;
  max-width: 700px;
  padding: 30px;
}
.placeholder {
  background: #f9f7fe;
  padding: 15px;
  border-radius: 6px;
  border: none;
  width: 75%;
}
.search-button {
  background-color: #00aaa0;
  color: white;
  border: none;
  padding: 15px 30px;
  line-height: 1;
  border-radius: 5px;
  margin-left: 10px;
}
main {
  padding: 35px;
}
.current-city {
  font-size: 35px;
  margin: 0;
  line-height: 40px;
}
.temperature-icon {
  position: relative;
  top: 28px;
}
.temperature-value {
  font-size: 70px;
  margin: none;
  line-height: 88px;
}
.temperature-unit {
  font-size: 28px;
  position: relative;
  top: -38px;
}
h2 strong {
  color: #c31207;
}
h2 {
  font-size: 18px;
  line-height: 20px;
}
.weather-details {
  display: flex;
  justify-content: space-between;
}
footer {
  font-size: 15px;
  color: rgba(39, 33, 66, 0.4);
  padding-top: 15px;
  text-align: center;
  border-top: 1px solid #f9f7fe;
}
.daily-forecast {
  margin-top: 30px;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
p {
  border: 1px solid #ffff;
  border-radius: 8px;
  box-shadow: 2px 2px #00aaa0;
  padding: 10px;
  display: block;
  justify-content: space-between 15px;
  background-color: #ffb5b5;
}
.day {
  text-decoration-color: #0000;
}
.forecast-max-temperature {
  opacity: 0.5;
}
.forecast-min-temperature {
  padding-left: 7px;
  text-decoration-color: #0000;
}
